.nav-wrapper {
	margin: 0 32px;
}

.brand-logo {
	text-transform:capitalize;
}

.plot {
	margin: 15px 0;
}

.no-plot {
	text-align: center;
	font-size: 5em;
}

.disabled {
	visibility: hidden;
	animation: none;
}

.translation {
	position: absolute;
    right: 32px;
    top: 5px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ee6e73;
}

.footer-copyright {
	text-align: center;
	height: 30px;
	padding-top: 5px;
	color: rgba(255,255,255,0.8);
	background-color: rgba(51,51,51,0.08);
}
